
@{
    ViewBag.Title = "下载";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p></p>
<img src="~/Picture/wallet.png" />

<h2>下载</h2>

<p><div class="btn btn-default"><a href="~/Wallet.rar">钱包</a></div></p>

