
@{
    ViewBag.Title = "下载";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p></p>
<img src="~/Picture/FiatCoinLogo.png" width="64" height="64" />

<h2>下载</h2>

<p><div class="btn btn-default">@Html.ActionLink("菲特币钱包", "Wallet", "Download", new { area = "" }, null)</div></p>

