
@{
    ViewBag.Title = "工作原理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>工作原理</h2>
<p>菲特币:Fiatcoin是一种总量恒定的互联网货币,和互联网一样具有全球化,匿名性等特性。</p>
<p>在网络上向地球另一端转账菲特币,就像发送电子邮件一样简单,低成本,无限制。</p>
<p></p>

