
@{
    ViewBag.Title = "央行";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p></p>
<img src="~/Picture/bank.png" />

<h2>央行</h2>

<p>菲特币央行负责菲特币的发行和控制。</p>
<p>对于积极参与的支付机构, 菲特币央行会在每一次交易后给予适当的货币奖励。</p>