
@{
    ViewBag.Title = "支付机构";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>支付机构</h2>
<img src="~/Picture/issuer.png" />

<p>支付机构会监管用户交易菲特币或其他数字货币。菲特币的价格由供求平衡决定。</p>
<p>和常见外汇交易所一样，你用一种货币购买另一种货币。用法定货币为你的账号充值就可以开始交易</p>
<p>菲特银行是菲特币交易的唯一机构</p>
<br>
<p>现有的两家支付机构:</p>

<h3>菲特银行北海分行</h3>
<img src="~/Picture/Issuer1.jpg" />
<br>
<br>
<br>

<h3>菲特银行南海分行</h3>
<img src="~/Picture/Issuer2.jpg" />
<br>
<br>
<br>